.article-row {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.article-row span {
    padding-right: 10px;
}

.article-row div {
    width: 50%;
}

.save-btn {
    margin-top: 20px;
    margin-bottom: 10px;
}